Flask==3.1.0
Flask-Cors==5.0.0
gunicorn==21.2.0
python-dotenv==1.0.1
pdfplumber==0.11.5
pypdfium2==4.30.1
langchain-openai==0.3.4
langchain-community==0.3.16
langchain-core==0.3.34
firebase-admin==6.6.0
requests==2.32.3
numpy==1.22.4
jsonschema==4.21.1
